<p id="notice"><%= notice %></p>

<p>
  <strong>Interpretation:</strong>
  <%= @interpretation.interpretation %>
</p>

<%= link_to 'Edit', edit_interpretation_path(@interpretation) %> |
<%= link_to 'Back', interpretations_path %>
